page-manager-home {
    .options{
        background: rgb(255, 255, 255);
        
    }

    .employees, .inventory, .analytics, .tables, .orders, .reservations{
        border-radius: 30px !important;
        border: 1px solid#ff3333;;
    }

    .basic{
        background-color:  #ff3333;
    }

    .heading{
        width : 100%;
        justify-content: center;
    }


}
