<ion-header>
  <ion-toolbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home Feed</ion-title>
  </ion-toolbar>
</ion-header>






<ion-content padding>

  <button style="margin:auto" ion-button block (click)="presentActionSheet()" icon-start>
    <ion-icon name="compass"></ion-icon>
    <ion-label *ngIf="isLocationSet?false:true">Set Location to Continue</ion-label>
    <ion-label *ngIf="isLocationSet?true:false">{{currLocation}}</ion-label>
  </button>

  <ion-content class="card-background-page">

    <ion-card *ngFor="let item of reviewData; let i = index" (click)="showReviewAlert(item)">
      <img style="filter: opacity(0.5);" src="assets/imgs/restaurant-back.png" />

      <div class="card-title"> <span> {{item.hotel_name}} </span></div>
      <div class = "card-star">
          <ion-col *ngFor = "let starType of rating[i]">
              <ion-icon small [name]="starType "></ion-icon>
          </ion-col>
      </div>
      
      <div class="card-subtitle">"{{ item.review | slice:0:120 }}{{item.review.length > 125 ? ' ...' : ''}}"</div>
      <div class="cardfooter">Review by {{item.customer_name}}</div>
    </ion-card>
  </ion-content>
</ion-content>

