page-search {

  .by{
    font-weight: italic;
    font-size : 10px;
    color: grey;
}

  .search{
    border: 1px solid grey;
}

          .r_name, .r_address, .r_city, .r_contact, .r_cuisine{
            padding: 20px 20px 0px 20px;
            margin-top: -1%;
            color : #000000
          }
          .r_name{
            font-weight: bold;
            border: 1px solid #000000;
            color: blue;
          }

          #content {
            background: grey;
            display: none;
            text-align : center;
          }

          ion-row {
             align-items: center;
             text-align: center;
           }

           ion-item {
               border-radius: 30px !important;
               padding-left: 30px !important;
               font-size: 0.9em;
               margin-bottom: 10px;
               border: 1px solid #ffffff;
               border-bottom: 0px !important;
               box-shadow: none !important;
           }

           .signup-col {
             margin: 0px 16px 0px 16px;
             padding-bottom: 20px;
           }

           .item-inner {
             border-bottom-color: #ffffff !important;
             box-shadow: none !important;
           }

           .register-btn {
             color: #ffffff;
             font-size: 0.8em;
           }
}
