<ion-content class="login-content" padding>

  
    <ion-grid no-padding>
      <!-- logo -->
      <ion-row header align-items-start align-items-stretch>
          <!-- <ion-col width-67> -->
              <!-- <img src="../../assets/imgs/grubhaven.png"/> -->
          <!-- </ion-col> -->
  
      <!-- Section form>-->
    <ion-col col-10 offset-1 col-md-6 offset-md-3>
      <form padding  #registerForm="ngForm">
        <ion-row align-items-start>
          <ion-col col-12>
            <h1><strong>Welcome!</strong>Register a new account!</h1>
          </ion-col>
        </ion-row>
        <!-- Input-field -->
        <ion-row>
          <ion-col col-12>
            <div input-field>
              <!-- Input-field-text -->
              <ion-item no-padding>
                <ion-input type="text" placeholder="Email" name="userName" [(ngModel)]="registerCredentials.email"  [ngModelOptions]="{standalone: true}" required></ion-input>
  <!--               <ion-label no-margin *ngIf="!isUsernameValid">{{data.errorUser}}</ion-label>-->
           </ion-item>
              <!-- Input-field-password -->
              <ion-item no-padding>
                <ion-input  type="password" placeholder="Password" name="password" [(ngModel)]="registerCredentials.password" [ngModelOptions]="{standalone: true}" required></ion-input>
                <!-- <ion-label no-margin *ngIf="!isPasswordValid">{{data.errorPassword}}</ion-label> -->
              </ion-item>
              <ion-item no-padding>
                  <ion-input type="text" placeholder="Role" name="role" [(ngModel)]="registerCredentials.role" required></ion-input>
                  <!-- <ion-label no-margin *ngIf="!isPasswordValid">{{data.errorPassword}}</ion-label> -->
                </ion-item>
              
            </div>
            <!-- Login button -->
            <ion-col col-12 no-padding>
              <button no-margin ion-button full text-uppercase (click)='register()'>Register</button>
            </ion-col>
            <!-- Description -->
            <div description text-center>
              <ion-row>
                <!-- Signup now button -->
                <ion-col col-12 no-padding>
                  <p no-margin no-padding>Already a member!<a (click)="GoToLogin()">Login</a> </p>
                </ion-col>
              </ion-row>
            </div>
          </ion-col>
        </ion-row>
      </form>
      </ion-col>
    </ion-row>
    </ion-grid>
  </ion-content>